In [1]:
import warnings
warnings.filterwarnings('ignore')
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
from collections import Counter
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

#Create a model with LogisticRegression().
#Train the model with model.fit().
#Make predictions with model.predict().
#Validate the model with accuracy_score().

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\sokim\anaconda3\lib\site-packages (1.3.20)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\sokim\anaconda3\lib\site-packages (2.8.5)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import sqlalchemy
import psycopg2

In [5]:
#from sqlalchemy import create_engine
#from config import db_password
#db_string = f"postgresql://postgres:{db_password}@localhost:5432/Pokemon"
#engine = create_engine(db_string)

In [6]:
from getpass import getpass
password = getpass("enter database pw")

enter database pw········

In [7]:
from sqlalchemy import create_engine
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/Pokemon")

In [8]:
pokemon_stats_df=pd.read_sql_table("pokemon_stats",engine)
pokemon_stats_df.head()

,pokedex_nr,en_name,type_1,type_2,attack,defense,hp,special_attack,special_defense,speed,effort_attack,effort_defense,effort_hp,effort_special_attack,effort_special_defense,effort_speed
0,1,Bulbasaur,Grass,Poison,49,49,45,65,65,45,0,0,0,1,0,0
1,2,Ivysaur,Grass,Poison,62,63,60,80,80,60,0,0,0,1,1,0
2,3,Venusaur,Grass,Poison,82,83,80,100,100,80,0,0,0,2,1,0
3,4,Charmander,Fire,None,52,43,39,60,50,65,0,0,0,0,0,1
4,5,Charmeleon,Fire,None,64,58,58,80,65,80,0,0,0,1,0,1

In [9]:
#check for nulls
pokemon_stats_df.isnull().sum()

pokedex_nr                  0
en_name                     0
type_1                      0
type_2                    456
attack                      0
defense                     0
hp                          0
special_attack              0
special_defense             0
speed                       0
effort_attack               0
effort_defense              0
effort_hp                   0
effort_special_attack       0
effort_special_defense      0
effort_speed                0
dtype: int64

In [10]:
#clean dataframe
#drop data-assume only 1 type of pokemon
cleanpokemon_df = pokemon_stats_df.drop(['type_2'], axis=1)
cleanpokemon_df.head()

,pokedex_nr,en_name,type_1,attack,defense,hp,special_attack,special_defense,speed,effort_attack,effort_defense,effort_hp,effort_special_attack,effort_special_defense,effort_speed
0,1,Bulbasaur,Grass,49,49,45,65,65,45,0,0,0,1,0,0
1,2,Ivysaur,Grass,62,63,60,80,80,60,0,0,0,1,1,0
2,3,Venusaur,Grass,82,83,80,100,100,80,0,0,0,2,1,0
3,4,Charmander,Fire,52,43,39,60,50,65,0,0,0,0,0,1
4,5,Charmeleon,Fire,64,58,58,80,65,80,0,0,0,1,0,1

In [11]:
#save dataframe as csv file
cleanpokemon_df.to_csv('cleanpokemon_df.csv', index=False)

In [12]:
#check for nulls again
cleanpokemon_df.isnull().sum()

pokedex_nr                0
en_name                   0
type_1                    0
attack                    0
defense                   0
hp                        0
special_attack            0
special_defense           0
speed                     0
effort_attack             0
effort_defense            0
effort_hp                 0
effort_special_attack     0
effort_special_defense    0
effort_speed              0
dtype: int64

In [13]:
#check for uniqueness of each pokemon
cleanpokemon_df['pokedex_nr'].is_unique

True

# Predict whether a Pokemon is a water type or not

In [14]:
#convert dataframe type_1 as binary form to separate Water types
cleanpokemon_df["type_1"] = np.where(cleanpokemon_df["type_1"] == "Water", 1, 0)
cleanpokemon_df

,pokedex_nr,en_name,type_1,attack,defense,hp,special_attack,special_defense,speed,effort_attack,effort_defense,effort_hp,effort_special_attack,effort_special_defense,effort_speed
0,1,Bulbasaur,0,49,49,45,65,65,45,0,0,0,1,0,0
1,2,Ivysaur,0,62,63,60,80,80,60,0,0,0,1,1,0
2,3,Venusaur,0,82,83,80,100,100,80,0,0,0,2,1,0
3,4,Charmander,0,52,43,39,60,50,65,0,0,0,0,0,1
4,5,Charmeleon,0,64,58,58,80,65,80,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
893,894,Regieleki,0,100,50,80,100,50,200,0,0,0,0,0,3
894,895,Regidrago,0,100,50,200,100,50,80,0,0,3,0,0,0
895,896,Glastrier,0,145,130,100,65,110,30,3,0,0,0,0,0
896,897,Spectrier,0,65,60,100,145,80,130,0,0,0,3,0,0
897,898,Calyrex,0,80,80,100,80,80,80,0,0,3,0,0,0

In [15]:
#save dataframe as csv file
cleanpokemon_df.to_csv('cleanpokemon_df.csv', index=False)

In [16]:
#separate features
X=cleanpokemon_df.drop(['type_1','en_name','pokedex_nr'], axis=1) 

#from target
y=cleanpokemon_df['type_1']

In [17]:
#split data into testing and training sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

X_train.shape

(673, 12)

In [18]:
#create logistic regression model
classifier=LogisticRegression(solver='lbfgs', random_state=1)
classifier

LogisticRegression(random_state=1)

In [19]:
#train the logisitic regression model
classifier.fit(X_train, y_train)

LogisticRegression(random_state=1)

In [20]:
#create predictions with test data
y_pred=classifier.predict(X_test)

results = pd.DataFrame({"Y_Prediction": y_pred, "Actual (y-test)": y_test})
results

     Y_Prediction  Actual (y-test)
255             0                0
851             0                0
801             0                0
481             0                0
660             0                0
..            ...              ...
256             0                0
840             0                0
154             0                0
446             0                0
810             0                0

[225 rows x 2 columns]

In [21]:
#look at accuracy score
accuracy_score(y_test, y_pred)

0.8622222222222222

In [22]:
#look at confusion matrix
matrix=confusion_matrix(y_test, y_pred)
matrix_df=pd.DataFrame(matrix,
                      index=['Actually True for Water', 'Actually False for Water'],
                      columns=['Predicted True for Water', 'Predicted False for Water'])
matrix_df

                          Predicted True for Water  Predicted False for Water
Actually True for Water                        194                          0
Actually False for Water                        31                          0

In [23]:
#create a classification report
report=classification_report(y_test,y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.86      1.00      0.93       194
           1       0.00      0.00      0.00        31

    accuracy                           0.86       225
   macro avg       0.43      0.50      0.46       225
weighted avg       0.74      0.86      0.80       225

# Logistic Regression model was 86% correct of predicting whether a Pokemon is a water type.